:root {
  --fhs-green: rgb(0, 140, 137);
  --fhs-red: rgb(217, 48, 48);
  --fhs-white: #fff;
  --fhs-back: #000000;
  --fhs-icon: rgb(200, 200, 200);
  --fhs-price: rgb(247, 148, 30);
  --fhs-shopping-trends: rgb(252, 221, 239);
  --fhs-backgroud-container: rgb(240, 240, 240);
  --fhs-flashsale: rgb(252, 218, 176);
}

.cursor-pointer {
  cursor: pointer;
}

.fs-7 {
  font-size: .8rem!important;
}

.fs-8 {
  font-size: .6rem!important;
}

.btn-hover {
  transition: box-shadow 0.2s linear;
}

.btn-hover:hover {
  box-shadow: 0 0 4px 2px rgb(0, 0, 0, 0.2);
}

a {
  text-decoration: none !important;
}

.bg-header {
  background-image: linear-gradient(0, var(--fhs-red), var(--fhs-green));
}

.color-price {
  color: var(--fhs-price)!important;
}

.border-color-price {
  border-color: var(--fhs-price)!important;
}

.bg-price {
  background-color: var(--fhs-price)!important;
}

.bg-maunhat {
  background-color: var(--fhs-backgroud-container);
}

.bg-flashsale {
  background-color: var(--fhs-flashsale);
}
/* headẻ */




/* List menu */

.list-menu-item {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.list-menu-item>a {
  text-align: center;
}

.list-menu-item>a>img {
  width: 50px;
}

.list-menu-item>span {
  width: 90px;
  font-size: .8rem;
  text-align: center;
}

/* -------------flash sale------------------ */

.fs-sm-7 {
  font-size: .8rem;
}

.fs-sm-8 {
  font-size: .6rem;
}

.flashsale-head a {
  height: 75%;
  font-weight: 500;
  line-height: 1.2;
}

.flashsale-head a span {
  font-size: 1.25rem;
}

.product-item div > a:nth-child(1) div {
  font-size: .9rem;

}

.product-item div > div:nth-child(2) {
  font-size: .7rem;
}

.product-item div > div:nth-child(3) {
  font-size: 1.2em;
}

.product-item div > div:nth-child(4) {
  font-size: .7rem;
}

.draggable-row {
  overflow-x: auto;
  overflow: hidden;
  cursor: grab;
  user-select: none;
  scroll-behavior: smooth;
  flex-wrap: nowrap!important;
}

@media (max-width: 768px) {
  
  .list-menu-item>a>img {
    width: 50%;
  }

  .list-menu-item>span {
    width: 65px;
    font-size: .6rem;
  }

  .flashsale-head a {
    height: 50%;
  }

  .flashsale-head a span {
    width: 90px;
    font-size: .9rem;
    text-align: center;
  }
  
  .flashsale-head span {
    font-size: .8rem;
  }

  .flashsale-head div span {
    font-size: .7rem;
  }

  .product-item div del {
    font-size: .5rem;
  }
}

