:root {
  --fhs-green: rgb(0, 140, 137);
  --fhs-red: rgb(217, 48, 48);
  --fhs-white: #fff;
  --fhs-back: #000000;
  --fhs-icon: rgb(200, 200, 200);
  --fhs-price: rgb(247, 148, 30);
  --fhs-shopping-trends: rgb(252, 221, 239);
  --fhs-backgroud-container: rgb(240, 240, 240);
  --fhs-flashsale: rgb(252, 218, 176);
  --fhs-account: rgb(255, 246, 227);
}

*::selection {
  background-color: rgba(52, 152, 219, 0.5); 
  /* color: #333; */
}

.no-select {
  user-select: none;
}

.bg-account {
  background-color: var(--fhs-account);
}

.cursor-pointer {
  cursor: pointer;
}

.fs-7 {
  font-size: .8rem !important;
}

.fs-8 {
  font-size: .6rem !important;
}

.text-hover {
  transition: transform .2s linear;
}

.text-hover:hover {
  transform: translateX(4px);
}

.btn-hover {
  transition: box-shadow 0.2s linear !important;
}

.btn-hover:hover {
  box-shadow: 0 0 4px 2px rgb(0, 0, 0, 0.2) !important;
}

a {
  text-decoration: none !important;
}

.bg-header {
  background-image: linear-gradient(0, var(--fhs-red), var(--fhs-green));
}

.color-price {
  color: var(--fhs-price) !important;
}

.border-color-price {
  border-color: var(--fhs-price) !important;
}

.bg-price {
  background-color: var(--fhs-price) !important;
}

.bg-maunhat {
  background-color: var(--fhs-backgroud-container);
}

.bg-flashsale {
  background-color: var(--fhs-flashsale);
}

.btn-hover-bg {
  transition: background-color .3s linear !important;
}

.btn-hover-bg:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.input-focus-none {
  box-shadow: none !important;
  border: none !important;
}

/* List menu */

.list-menu-item {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.list-menu-item>a {
  text-align: center;
}

.list-menu-item>a>img {
  width: 50px;
}

.list-menu-item>span {
  width: 90px;
  font-size: .8rem;
  text-align: center;
}

/* -------------flash sale------------------ */

.flashsale-head a {
  height: 75%;
  font-weight: 500;
  line-height: 1.2;
}

.flashsale-head a span {
  font-size: 1.25rem;
}

.slick-next {
  position: absolute;
  top: calc(50% - 15px);
  right: 0;
  border: 2px solid var(--fhs-icon);
  color: var(--fhs-icon);
  background-color: rgba(252, 252, 252, 0.9);
  border-radius: 6px;
  height: 30px;
  /* width: 16px; */
  z-index: 100;
}

.slick-prev {
  position: absolute;
  top: calc(50% - 15px);
  left: 0;
  border: 2px solid var(--fhs-icon);
  color: var(--fhs-icon);
  background-color: rgba(252, 252, 252, 0.9);
  border-radius: 6px;
  height: 30px;
  /* width: 30px; */
  z-index: 1000;
}

.product-item div>a:nth-child(1) div {
  font-size: .9rem;

}

.product-item div>div:nth-child(2) {
  font-size: .7rem;
}

.product-item div>div:nth-child(3) {
  font-size: 1.2em;
}

.product-item div>div:nth-child(4) {
  font-size: .7rem;
}

/*  */

.set-h h5 {
  margin: 12px 0 12px 0;
}

.h7,
.h8,
.h6-md,
.h7-md,
.h8-md {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

.h7 {
  font-size: .8rem;
}

.h8 {
  font-size: .6rem;
}

.flex-1 {
  flex: 1;
}

.transition-opacity {
  transition: opacity .3s linear;
}

.active {
  color: red;
  font-weight: 650;
}

#sidebar {
  box-shadow: 2px 1px 4px 4px rgb(0, 0, 0, 0.2);
  transition: right 0.3s ease-out, opacity 0.3s ease-out;
  z-index: 200;
}

#sidebar-toggle {
  /* left: 100px; */
  box-shadow: 0 0 4px 0px rgb(0, 0, 0, 0.2);
  transition: left .3s ease-out, box-shadow .3s ease-out;
  z-index: 200;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Màu nền với độ mờ (alpha) */
  transition: opacity .3s linear;
  opacity: 0;
  z-index: 100;
  /* Đảm bảo nó hiển thị trên các phần tử khác */
  display: none;
}

@media (min-width: 768px) {

  .fs-md-6 {
    font-size: 1rem !important;
  }

  .fs-md-7 {
    font-size: .8rem !important;
  }

  .fs-md-8 {
    font-size: .6rem !important;
  }

  .h5-md {
    font-size: 1.25rem !important;
  }

  .h6-md {
    font-size: 1rem !important;
  }

  .h7-md {
    font-size: .8rem !important;
  }

  .h8-md {
    font-size: .6rem !important;
  }

  .d-md-block {
    display: block !important;
  }

  .dangnhap-dangky {
    height: 320px;
  }

  .w-md-25 {
    width: 25% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  #sidebar {
    position: static;
    box-shadow: none;
    opacity: 1 !important;
  }

  .border-md-end {
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }

  border-md-2 {
    border-width: 2px !important;
  }

  #sidebar-toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  [id^="f-"] table p {
    margin-bottom: .6rem;
  }

  [id^="f-"] p,
  [id^="f-"] li {
    /* CSS styles cho các class có ký tự đầu là "f-" */
    font-size: .9rem !important;
  }

  [id^="f-"] h5 {
    font-size: 1.15rem!important;
  }

  #sidebar {
    position: absolute;
  }

  .list-menu-item>a>img {
    width: 50%;
  }

  .list-menu-item>span {
    width: 65px;
    font-size: .6rem;
  }

  .flashsale-head a {
    height: 50%;
  }

  .flashsale-head a span {
    width: 90px;
    font-size: .9rem;
    text-align: center;
  }

  .flashsale-head span {
    font-size: .8rem;
  }

  .flashsale-head div span {
    font-size: .7rem;
  }

  .product-item div del {
    font-size: .5rem;
  }

  .dangnhap-dangky {
    height: 380px;
  }
}