:root {
  --fhs-green: rgb(0, 140, 137);
  --fhs-red: rgb(217, 48, 48);
  --fhs-white: #fff;
  --fhs-back: #000000;
  --fhs-icon: rgb(200, 200, 200);
  --fhs-price: rgb(247, 148, 30);
  --fhs-shopping-trends: rgb(252, 221, 239);
  --fhs-backgroud-container: rgb(240, 240, 240);
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--fhs-back);
}

body {
  margin: 0;
  background-color: var(--fhs-white);
}

.app {
  background-color: var(--fhs-backgroud-container);
  opacity: 0;
}

.transition-opacity {
  transition: opacity .3s linear;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  /* Tạo khoảng cách ngang giữa các cột */
}

.col-2 {
  width: calc(16.6667%);
  /* 33.3333% cho 3 cột và trừ đi khoảng cách viền */
  padding: 0 10px;
  /* Khoảng cách ngang giữa các cột */
}

.col-3 {
  padding: 0 10px;
  width: calc(25%);
}

.col-4 {
  padding: 0 10px;
  width: calc(33.3333%);
}

.col-8 {
  padding: 0 10px;
  width: calc(66.6667%);
}

.col-9 {
  padding: 0 10px;
  width: 75%;
}

[class^='col-'] {
  margin-bottom: 10px;
}

/* Header */
.header {
  background-image: linear-gradient(0, var(--fhs-red), var(--fhs-green));
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo_img {
  width: 240px;
}

.search {
  width: 500px;
  height: 30px;
  margin: auto 30px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: var(--fhs-white);
}

.search-input {
  height: 24px;
  flex: 1;
  border: none;
  outline: none;
  padding: 0 16px;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 24px;
  border: none;
  border-radius: 4px;
  margin: auto 4px;
  background-image: linear-gradient(0, var(--fhs-red), var(--fhs-green));
  color: var(--fhs-icon);
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__right-icon {
  font-size: 20px;
  margin: 4px 0 4px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__right-icon a {
  color: var(--fhs-icon);
  padding: 2px 6px;
}

[class^="tooltip-"] {
  width: 250px;
  /* max-height: 300px; */
  position: absolute;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 2px rgb(0, 0, 0, 0.1);
  background-color: var(--fhs-white);
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity .2s ease-in-out, transform .2s ease-in-out, z-index .2s ease-in-out;
  transform: scale(0.3);
  transform-origin: top right;
  will-change: opacity, transform, z-index;
  z-index: -1;
}

.icon-link-hover:hover .hover-tooltip {
  z-index: 999;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.tooltip-giohang {
  top: 100%;
  right: 0;
}

.giohang-title {
  font-size: 1.4rem;
  user-select: none;
}

.giohang-list-itemss {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 220px;
  overflow: auto;
}

.giohang-item a{
  width: 100%;
  display: flex;
  color: var(--fhs-back);
  height: 55px;
}

.giohang-img {
  flex: 1;
}

.giohang-img img {
  width: 100%;
}

.giohang-right {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.giohang-right span {
  width: 100%;
  flex: 3;
  font-size: 1rem;
  line-height: 1.2;
  height: 2.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.giohang-button .product-number-button {
  height: 20px;
  width: 80px;
}

.giohang-button .product-value {
  font-size: 1.2rem;
}

.taikhoan-icon{
  padding: 1px 6px;
  width: 100%;
}

.tooltip-taikhoan {
  top: 100%;
  right: 0;
}

.taikhoan-avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: var(--fhs-shopping-trends);
  display: flex;
  justify-content: center;
  align-items: center;
}

.taikhoan-avatar i {
  font-size: 10rem;
  margin-bottom: 10px;
}

.tooltip-taikhoan h5 {
  margin: 10px 0;
  user-select: none;
}

.go-acount {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.go-acount div {
  width: 100%;
  height: 36px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: var(--fhs-shopping-trends);
  margin: 8px 0;
  transition: box-shadow .3s ease-in-out;
  text-align: center;
}

.go-acount a {
  padding: 8px 74px;
  font-size: 1.4rem;
  color: var(--fhs-back);
  user-select: none;
}

.go-acount div:hover {
  box-shadow: 0 0 4px 2px rgb(0, 0, 0, 0.1);
}
/* Container */

.container {
  background-color: var(--fhs-backgroud-container);
  padding: 20px 0;
}

/* Container / menu */

.list-menu {
  padding: 16px 0;
  background-color: var(--fhs-white);
  display: flex;
  justify-content: space-between;
}

.list-menu-item {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.list-menu-item>a>img {
  width: 50px;
}

.list-menu-item>span {
  width: 90px;
  font-size: 1.2rem;
  text-align: center;
}

/* Container / Flash sale */

.flashsale {
  background-color: var(--fhs-white);
  margin-top: 16px;
  padding-bottom: 32px;
}

.flashsale-header {
  background-color: rgb(252, 218, 176);
  height: 50px;
  display: flex;
}

.flashsale-logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.flashsale-logo>img {
  margin-left: 16px;
  width: 25px;
}

.flashsale-logo>span {
  font-weight: 550;
  margin-left: 10px;
  margin-right: 4px;
  font-size: 1.6rem;
  color: var(--fhs-back);
}

.split {
  margin: auto 10px;
}

.split-div {
  width: 2px;
  height: 20px;
  background-color: var(--fhs-icon);
}

.flashsale-label {
  margin: auto 4px;
  font-size: 1.3rem;
  font-weight: 430;
}

.flashsale-countdown {
  margin: auto 10px;
  user-select: none;
}

.flashsale-countdown-number {
  font-weight: 550;
  font-size: 1.25rem;
  margin: auto 4px;
  background-color: var(--fhs-white);
  padding: 4px 8px;
  border-radius: 4px;
}

.flashsale-see-more {
  display: flex;
  justify-content: center;
}

.flashsale-see-more > span {
  padding: 10px 30px;
  border-radius: 29px;
  font-weight: 550;
  font-size: 1.4rem;
  background-color: var(--fhs-price);
  color: var(--fhs-white);
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
  transition: box-shadow 0.1s ease-in-out 0s;
}

.flashsale-see-more>span:active {
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.flashsale-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.item {
  height: 100%;
  font-size: 1.2rem;
  border-radius: 2px;
  padding: 0 6px;
  display: flex;
  flex-direction: column;
}

.item:hover {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.item>a {
  flex: 1;
  text-decoration: none;
  color: var(--fhs-back);
}

.item-image {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  padding: 4px;
}

.item-image>img {
  width: 100%;
}

.item-name {
  margin: 8px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-price-special {
  font-size: 1.6rem;
  font-weight: 650;
  color: var(--fhs-price);
}

.item-price-old {
  margin-top: 4px;
  font-size: 1.0rem;
  text-decoration: line-through;
}

.item-proress {
  margin: 2px 0 4px 0;
  font-size: 1.1rem;
}

/* Container / product-portfolio */

.product-portfolio {
  margin-top: 16px;
  background-color: var(--fhs-white);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.product-portfolio-header {
  padding: 20px 16px 10px 16px;
  /* height: 32px; */
  display: flex;
  align-items: center;
}

.product-portfolio-header>i,
.product-portfolio-header>span {
  margin-left: 8px;
  font-size: 1.6rem;
  color: var(--fhs-back);
}

.product-portfolio-header>span {
  font-weight: 500;
}

.product-portfolio-list {
  margin: 0;
}

.product-portfolio-list-item>a>img {
  width: 80px;
}

/* container / shopping trends */

.shopping-trends-header {
  background-color: var(--fhs-shopping-trends);
}

.shopping-trends-tabslider {
  padding: 10px;
  display: block;
  overflow: auto;
  white-space: nowrap;
}

.shopping-trends-tabslider::-webkit-scrollbar {
  height: 4px;
}

/* Tuỳ chỉnh nút trượt */
.shopping-trends-tabslider::-webkit-scrollbar-thumb {
  background-color: var(--fhs-icon); /* Màu nền của nút trượt */
  border-radius: 2px; /* Bo góc nút trượt */
}

.container::-webkit-scrollbar-track {
  background-color: var(--fhs-back); /* Màu nền của phần nền thanh cuộn */
}

.shopping-trends-tabslider>span {
  display: inline-block;
  padding: 8px;
  margin: 0 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.shopping-trends-tabslider>span:hover {
  border: solid 1.4px;
  border-radius: 6px;
  border-color: var(--fhs-price);
  color: var(--fhs-price);
}

.shopping-trends-tabslider--active {
  border: solid 1.4px;
  border-radius: 6px;
  border-color: var(--fhs-price);
  color: var(--fhs-price);
  font-weight: bold;
}

.shopping-trends-container {
  padding: 10px;
}

/* Footer */

.footer {
  padding: 0 0 20px 0;
}


.footer-row {
  background-color: var(--fhs-white);
  margin: 0;
  padding: 16px;
}

.footer-col-4 {
  border-right: 1px solid var(--fhs-icon);
}

.footer-logo>img {
  width: 200px;
}

.footer-col-4>p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.team-info {
  margin: 20px 0;
  margin-right: 30px;
  line-height: 1.8;
}

.team-info table {
  width: 100%;
  border-collapse: collapse;
}

.team-info th,
.team-info td {
  text-align: start;
  padding: 2px 12px;
}

.team-info tr:nth-last-child(-n+4):hover {
  box-shadow: 1px 1px 4px 2px rgb(0, 0, 0, 0.1);
  background-color: var(--fhs-backgroud-container);
}

.footer-connect,
.footer-download {
  margin: 10px 0;
}

.footer-logo-bct>a>img {
  width: 100px;
}


.footer-download>a>img {
  width: 120px;
  margin-right: 16px;
}

.footer-col-8-col-4>ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.footer-col-8-col-4>ul>li {
  font-size: 1.2rem;
  margin: 16px 0;
  transition: transform 0.2s ease-in-out 0s;
}

.footer-col-8-col-4>ul>li:hover {
  transform: translate(4px, 0);
}

.footer-col-8-col-4>ul>li>a {
  text-decoration: none;
  color: var(--fhs-back);
}

.footer-col-8-bottom>div>h2 {
  padding: 0 12px;
}

.footer-contact-col-4>i {
  font-size: 1.4rem;
  width: 10px;
}

.footer-contact-col-4>span {
  font-size: 1.2rem;
  margin-left: 10px;
}

.footer-contact {
  margin: 40px 0;
}

.footer-contact>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-contact-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-contact-img>a>img {
  width: 60%;
}

.footer-end {
  flex: 1;
  text-align: center;
  font-size: 1.2rem;
  color: var(--fhs-green);
}

/* BOOK DETAIL */

.product-essential {
  background-color: var(--fhs-white);
  display: flex;
  padding: 20px;
}

.product-view-image {
  flex: 5;
  display: flex;
}

.product-view-thumbnail {
  height: 100%;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-view-thumbnail>a {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.2s ease-out;
}

.product-view-thumbnail>a:hover {
  border: solid 1px var(--fhs-back);
  box-shadow: 1px 2px 4px 4px rgb(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.product-view-thumbnail>a:last-child {
  text-decoration: none;
  background-color: var(--fhs-green);
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--fhs-white);
  opacity: 0.8;
  transform: transform 0.2s ease-out;
}

.product-view-thumbnail>a>img {
  height: 60px;
}

.product-view-image-product {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-view-image-product>img {
  width: 100%;
}

.product-essential-detail {
  flex: 7;
  padding: 0 30px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}

.product-essential-detail h1 {
  font-size: 2.4rem;
  margin: 0 0 10px 0;
}

.product-essential-detail span {
  display: block;
  margin: 0 0 6px 0;
}


.product-essential-detail span h5 {
  margin: 0;
  font-size: 1.4rem;
  display: inline-flex;
}

.star {
  display: flex;
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.star i {
  margin-right: 4px;
  margin-bottom: 1px;
}

.star span {
  margin: 0 0 0 10px;
}

.product-price {
  display: flex;
  align-items: end;
  flex: 1;

}

.product-price-special {
  display: flex;
  align-items: baseline;
}

.product-price-special span:first-child {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--fhs-price);
}

.product-price-special span:last-child {
  color: var(--fhs-price);

}

.product-price-old {
  display: flex;
  align-items: baseline;
  margin-left: 10px;
}

.product-price-old span:first-child {
  margin: 0;
  font-size: 1.4rem;
  text-decoration: line-through;
}

.product-price-old span:last-child {
  font-size: 1.4rem;
  text-decoration: line-through;
}

.product-sale {
  height: 26px;
  margin: 0 10px;
  padding: 3px 4px;
  position: relative;
  top: -4px;
  background-color: var(--fhs-red);
  border-radius: 6px;
}

.product-number-control {
  display: flex;
  margin-top: 10px;
}

.product-number-control span {
  margin-right: 100px;
}

.product-number-button {
  display: flex;
  padding: 2px;
  border: var(--fhs-green) solid 1px;
  border-radius: 4px;
  overflow: hidden;
  width: 100px;
  justify-content: space-evenly;
}

.product-decrement {
  border: none;
  background-color: var(--fhs-white);
  cursor: pointer;
}

.product-value {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.product-increment {
  border: none;
  background-color: var(--fhs-white);
  cursor: pointer;
}

.products-related {
  padding-bottom: 10px;
}

.product-detail {
  background-color: var(--fhs-white);
  margin-top: 16px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px 20px;
}

.product-detail-header {
  padding: 0 0 10px 0;
}

.product-detail-table {
  width: 100%;
  padding: 0 0 10px 0;
  font-size: 1.4rem;
  line-height: 1.8;
}

.table-label {
  text-align: start;
}

.line {
  height: 1px;
  width: 80%;
  background-color: var(--fhs-icon);
  margin: 0 10%;
}

.product-description {
  font-size: 1.4rem;
}

.product-description p:nth-child(2n-1) {
  font-weight: 550;
}

/* search */

.search-mb {
  padding: 20px 0;
}

.mb--left--title {
  background: none;
  margin-left: 20px;
}

.search-mb {
  background-color: var(--fhs-white);
}

.mb--left {
  margin-left: 20px;
  position: relative;
  background: rgba(195, 229, 232, 0.8);
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.mb--left--title {
  color: #333;
  position: relative;
  padding: 2.5rem 2rem;
  padding-bottom: 1.5rem;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 4px solid#e6e6e6;
}

.mb--left--title span {
  color: red;
  font-size: 24px;
  font-weight: 900px;
}

.mb--left--title strong {
  font-weight: 600px;
  padding: 18px 20px;
}

.mb--left--content--list {
  padding: 20px 10px;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}

dl {
  margin-top: 0;
  margin-bottom: 10px;
}

.mb--left--content--list dt {
  cursor: pointer;
  text-transform: uppercase;
  line-height: 100%;
  padding: 10px 0;
  text-align: left;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 13px;
}

.max-height {
  max-height: 240px;
  overflow: hidden;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mb--left--content--list li {
  color: #333;
  line-height: 22px;
  margin: 4px 2px 7px 10px;
  text-align: left;
  width: 100%;
  position: relative;
}

.container--main--body {
  width: 75%;
  margin: 0 20px;
  padding: 20px 10px;
  line-height: 40px;
  text-align: left;
  position: relative;
  background: white;
  border: 2px solid white;
}

.result--title {
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.resullt--title h1 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Roboto' !important;
}

/* Login */

.form-container {
  height: 400px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px 30% 20px 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-form {
  width: 100%;
  display: flex;
}

.dangky,
.dangnhap {
  padding-top: 10px;
  display: inline-block;
  flex: 1;
  background-color: var(--fhs-white);
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
}

.form-active {
  color: var(--fhs-red);
  width: 100%;
}

.dangky hr,
.dangnhap hr {
  background-color: var(--fhs-red);
  height: 2px;
}

.form-disabled {
  transition: color 0.3s ease-in-out;
}

.form-disabled hr {
  width: 0;
  background-color: transparent;
  opacity: 0;
  transition: width 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.menu-form button:hover {
  color: var(--fhs-red);
}

.form-disabled:hover hr {
  width: 100%;
  background-color: var(--fhs-red);
  opacity: 1;
}

.form-disabled:not(:hover) hr {
  width: 0;
  background-color: transparent;
  opacity: 0;
}

.form-group {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  will-change: opacity, z-index;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 3px;
}

.form-group label {
  padding: 6px 0 6px 12px;
  font-size: 1.2rem;
  user-select: none;
}

.form-group ::placeholder {
  color: var(--fhs-shopping-trends);
}

input:focus {
  outline: none;
  border: 1px solid var(--fhs-green);
  transition: 0.3s;
  box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.1);
}

.forgot-password {
  width: 100%;
  text-align: end;
  font-size: 1.2rem;
  margin: 12px 0 0 0;
}

.forgot-password a {
  color: red;
}

.log-into,
.register-into {
  width: 100%;
  flex: 1;
}

.log-into {
  margin-top: 10px;
}

.register-into {
  margin-top: 24px;
}

.register-into input {
  cursor: pointer;
  transition: box-shadow 0.2s linear;
}

.register-into input {
  margin: 10px 0;
  padding: 8px 0;

}

.log-into input {
  flex: 1;
  margin: 10px 0;
  padding: 8px 0;
  cursor: pointer;
  transition: box-shadow 0.2s linear;

}

.log-into input:hover,
.register-into input:hover {
  box-shadow: 0 0 4px 2px rgb(0, 0, 0, 0.1);
}

#login-facebook {
  background-color: rgb(23, 117, 241);
  color: var(--fhs-white);
}































